html, body {
  background-color: #5190b8;
  font-family: verdana, sans-serif;
  font-weight: 300;
  font-size: 15px;
  height: 100%;
  text-align:center;
  margin: 0;
  padding: 0;
}

div.main {
  height: 100%;
  color: white;
}

h1.main {
  color: white;
  font-family: Rockwell, serif;
  letter-spacing: 2px;
  margin: 5px;
  padding-top: 100px;
}

h2.main {
  color: #183c52;
  font-family: Rockwell;
  font-size: 20px;
  margin-top: 5px;
  padding-right: 10px;
}

ul {
  display: inline;
  color: #183c52;
}

li {
  display: inline-block;
  margin-top: 30px;
  opacity: .9999;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,a:visited:hover {
  color: #183c52;
  text-decoration: none;
}

a:visited {
  color: white;
}
