@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

.splash {
  background-size: cover;
  height: 100vh;
}

.splash-fill {
  height: 100vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.content-pane {
  color: #333333;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  margin-top: .5em;
  margin-bottom: 0;
  text-align: center;
  color: #666666;
}

h2 {
  margin: 0;
  text-align: center;
  color: #000000;
}

p {
  margin: 2em;
  line-height: 1.5em;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #000000;
}


.profile-image {
  margin-top: 3em;
  width: 6em;
  height: 6em;
  background-image: url('/images/kheang.jpg');
  background-size: 6em;
  border-radius: 3em;
  margin-left: auto;
  margin-right: auto;
}

.links {
  margin-top: 2em;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

a {
  color: #666666;
}

a:hover {
  color: #333333;
}
