body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.splash {
  background-size: cover;
}

.splash-fill {
  text-align: center;
  padding: 4em;
}

.content-pane {
  color: #333333;
}

h1 {
  margin-top: .5em;
  margin-bottom: 0;
  color: #666666;
}

h2 {
  margin: 0;
  color: #000000;
}

h3 {
  color: #666666;
  letter-spacing: 1px;
  margin-top: 0;
}

h4 {
  color: #000000;
  letter-spacing: 1px;
  margin-top: 0;
}

p {
  margin: 2em;
  line-height: 1.5em;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #666666;
}

a:hover {
  color: #333333;
}


.profile-image {
  width: 6em;
  height: 6em;
  background-color: #415566;
  /*background-image: url('source/images/kheang.jpg');*/
  background-size: 6em;
  border-radius: 3em;
  margin-left: auto;
  margin-right: auto;
}

.links {
  margin-top: 2em;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.portfolio {
  width: 100%;
  padding: 0;
  background-color: #EEEEEE;
  text-align: center;
  float: left;
  border-bottom: 1px solid #cccccc;
}

.portfolio-header {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #AAAAAA;
  background-color: #666666;
  color: white;
  padding: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  vertical-align: middle;
}

.portfolio-pane {
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}

.portfolio-desc {
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}

p.portfolio-desc {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  font-size: .9em;
}

.portfolio-image {
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  max-width: 20em;
}

.screen {
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #CCCCCC;
}

.screen:hover {
  border: 1px solid #999999;
}

@media screen and (max-width: 800px) {
  .splash-fill {
    padding: 1em;
  }

  .portfolio-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .screen {
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-desc {
    margin-left: 0;
    width: 100%;
  }
}