@charset "utf-8";

body, html, main {
  height: 100vh;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("/images/raleigh-splash.jpg");
}

.splash {
  width: 100%;
  opacity: 0.5;
  background-color: #000000;
  height: 100vh;
  text-align: center;

  h1 {
    margin: 0;
    color: white;
  }
}

.cd-scrolling-bg {
  min-height: 100%;
}