@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Nunito:400);
/* line 8, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
html {
  font-size: 16px;
  height: 100%; }

/* line 13, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
body {
  font-family: 'Source Sans Pro', Avenir, sans-serif;
  color: #333333;
  height: 100%; }

/* line 19, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
h1 {
  display: inline;
  font-size: 3rem;
  font-weight: 400;
  font-color: #556270; }

/* line 26, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
h2 {
  margin: .2rem 0 .2rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px; }

/* line 33, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
p {
  line-height: 2rem;
  padding-bottom: .5rem; }

/* line 38, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.pane {
  margin: 0;
  min-height: 100%;
  text-align: center; }

/* line 44, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.pane-inner {
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  opacity: 1; }

/* line 54, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.pane-inner-wide {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  opacity: 1; }

/* line 64, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.splash-outer {
  background: linear-gradient(#556270, rgba(85, 98, 112, 0.8)), url(/images/splash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #556270;
  min-height: 100%; }

/* line 80, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.splash {
  text-align: center; }
  /* line 83, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .splash h1 {
    display: block;
    color: #ffffff; }
  /* line 88, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .splash h2 {
    color: #ffffff;
    opacity: .8; }
  /* line 93, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .splash a {
    color: #ffffff; }
  /* line 97, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .splash a.hover {
    color: #ffff00; }

/* line 102, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.more {
  width: 100%;
  position: absolute;
  bottom: .5em;
  font-size: 1.5em; }

/* line 109, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
ul.buttons {
  margin: 3rem;
  padding: 0;
  font-size: 1rem; }
  /* line 114, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  ul.buttons li {
    margin: .5rem;
    display: inline; }
  /* line 119, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  ul.buttons a {
    width: 100%;
    height: 100%;
    padding: .8rem 1rem .8rem 1rem;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #3AADC7;
    letter-spacing: 1px; }
  /* line 129, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  ul.buttons a:hover {
    background-color: #3AADC7;
    color: #ffffff; }

/* line 135, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.about {
  background-color: #ffffff; }
  /* line 138, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .about h1 {
    border-bottom: 0.2rem solid #3AADC7; }
  /* line 142, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .about p {
    font-size: 1.2rem; }

/* line 147, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.profile-image {
  width: 6rem;
  height: 6rem;
  background-image: url("/images/kheang.jpg");
  background-size: 6rem;
  border-radius: 3rem;
  margin: 2.5rem auto 2.5rem auto; }

/* line 156, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.portfolio {
  background-color: #BAC5D1; }
  /* line 159, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .portfolio h1 {
    border-bottom: 0.2rem solid #3AADC7;
    margin-bottom: 10rem;
    color: #000000; }

/* line 166, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.portfolio-pane {
  width: 30rem;
  height: 17rem;
  background-color: #3AADC7;
  display: inline-block;
  color: #ffffff; }

/* line 174, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.portfolio-pane:hover .portfolio-desc {
  display: block;
  float: left; }

/* line 179, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.portfolio-pane:hover .portfolio-image {
  display: none; }

/* line 183, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.portfolio-image {
  width: 100%;
  height: 100%; }

/* line 188, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.portfolio-desc {
  display: none;
  padding: 1rem; }
  /* line 191, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .portfolio-desc h2 {
    font-weight: 400; }
  /* line 195, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .portfolio-desc a {
    color: #ffffff;
    text-decoration: none; }
  /* line 200, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .portfolio-desc p {
    margin-bottom: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem; }

/* line 211, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.contact {
  background-color: #556270;
  padding: 4rem;
  text-align: center;
  font-weight: 300; }
  /* line 217, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .contact p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  /* line 223, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .contact ul {
    display: inline;
    margin: 0;
    padding: 0; }
  /* line 229, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .contact li {
    list-style-type: none;
    display: inline;
    margin: 0 .5rem 0 .5rem;
    padding: 0; }
  /* line 236, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .contact a {
    font-size: 2rem;
    color: #ffffff;
    opacity: .8;
    text-decoration: none;
    padding: 0; }
  /* line 244, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .contact a:hover {
    opacity: 1; }

/* line 249, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
.nav {
  width: 97%;
  position: fixed;
  margin: 0;
  padding: 1.5%;
  text-align: right;
  background-color: #556270;
  color: #ffffff;
  z-index: 1; }
  /* line 259, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .nav h1 {
    float: left;
    font-size: 1.7rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
    border: 0.2rem solid #3AADC7;
    padding: .2rem;
    margin: 0; }
  /* line 269, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .nav ul {
    display: inline;
    margin: 0;
    padding: 0; }
  /* line 275, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .nav li {
    list-style-type: none;
    display: inline;
    margin: 0 .5rem 0 .5rem; }
  /* line 281, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .nav a {
    font-size: 1.7rem;
    color: #ffffff;
    opacity: .8;
    text-decoration: none; }
  /* line 288, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .nav a:hover {
    opacity: 1; }
  /* line 292, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .nav .left-links {
    float: left; }
    /* line 295, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
    .nav .left-links li {
      padding-top: .3rem;
      margin-left: 1rem;
      margin-right: 0; }
    /* line 301, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
    .nav .left-links a {
      font-size: 1.2rem;
      line-height: 2.4rem; }

@media screen and (min-width: 1824px) {
  /* line 309, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html {
    font-size: 20px; } }
@media screen and (max-width: 800px) {
  /* line 315, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html {
    font-size: 14px; }

  /* line 319, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane-inner {
    max-width: 70%; } }
@media screen and (max-width: 600px) {
  /* line 325, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane-inner {
    max-width: 80%; } }
@media screen and (max-width: 400px) {
  /* line 331, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html, body {
    font-size: 13px;
    height: 0; }

  /* line 336, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane-inner {
    max-width: 85%; }

  /* line 340, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane-inner-wide {
    max-width: 85%; }

  /* line 344, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .portfolio-pane {
    width: 25rem;
    height: 14rem; }

  /* line 349, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane {
    min-height: 0; }

  /* line 353, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .more {
    visibility: hidden; } }
@media screen and (max-width: 360px) {
  /* line 359, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html {
    font-size: 13px; }

  /* line 363, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane-inner {
    max-width: 90%; }

  /* line 367, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane-inner-wide {
    max-width: 90%; }

  /* line 371, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .pane {
    min-height: 0; } }
@media screen and (max-width: 320px) {
  /* line 377, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html {
    font-size: 11px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  /* line 385, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html, body {
    height: 0; }

  /* line 389, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .more {
    visibility: hidden; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 397, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html, body {
    height: 0; }

  /* line 401, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .more {
    visibility: hidden; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 409, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  html, body {
    height: 0; }

  /* line 413, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .splash-outer {
    background-position: center top;
    background-size: auto; }

  /* line 418, /Users/kheanglim/Documents/kheang/source/stylesheets/all.css.scss */
  .more {
    visibility: hidden; } }
