---
title: Kheang Lim
---

<div class="pane splash">
  <ul class="nav">
    <li><a href="https://github.com/kheang"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/kheang"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a href="https://twitter.com/kheanglim"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="http://kheang.me"><i class="fa fa-wordpress"></i></a></li>
  </ul>

  <h1>Hi. I'm Kheang Lim</h1>
  <h2>A Developer in Durham, NC</h2>

  <div class="key" id="up">
    <a href="#about">K</a>
  </div>
  <div class="key">
    <a href="#about">L</a>
  </div>

  <div class="more">
    <a href="#about"><i class="fa fa-angle-down fa-2x"></i></a>
  </div>
</div>

<div class="pane about" id="about">
  <div class="tower-container">
    About Me Placeholder
  </div>
</div>

<div class="pane portfolio" id="portfolio">
  <div class="tower-container">
    Portfolio Placeholder
  </div>
</div>